body{background-color: blue;}
h2{font-family: comic 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; background-color: red;text-align: center;}

table{background-color: grey;}
.td{font-weight: bold;}
.tugas_border{border-style: dashed;border-color: red; border-width: 10px;}